src/main/app/coap-client-etsi-plugtest-obs.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:coap-client="http://www.mulesoft.org/schema/mule/coap-client" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/coap-client http://www.teslanet.nl/schema/mule/coap-client/1.0/mule-coap-client.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <vm:connector name="VM" validateConnections="true" doc:name="VM" queueTimeout="30000">
        <vm:queue-profile maxOutstandingMessages="20"/>
    </vm:connector>
    <flow name="coap-client-etsi-plugtest-obs-request">
        <vm:inbound-endpoint exchange-pattern="one-way" path="obs-request" doc:name="VM"/>
    	<set-variable variableName="MULE_REPLYTO_STOP" value="true" doc:name="MULE_REPLYTO_STOP"/>
        <logger message="obs-request received" level="INFO" doc:name="Logger"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', payload + '00' )]" doc:name="set new etag"/>
       	<set-variable variableName="actual_payload" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setCorrelationId('obs_client', message.correlationId )]" doc:name="save correlation id"/>
       	<set-variable variableName="actual_host" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setHost('obs_client', sessionVars.host )]" doc:name="save host"/>
       	<set-variable variableName="actual_port" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setPort('obs_client', sessionVars.port )]" doc:name="save port"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="coap-client-etsi-plugtest-obs-reply">
        <coap-client:handle-response config-ref="ETSI-Plugtest_Client" handlerName="obs-handler" doc:name="CoAP OBS handler"/>
        <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getETag('obs_client' )]" doc:name="get etag"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0100' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0101' )]" doc:name="set new etag"/>
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getETag('obs_client')]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0101' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0102' )]" doc:name="set new etag"/>
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getETag('obs_client')]" doc:name="set new etag"/>
                <logger message="obs handler received second notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0102' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0103' )]" doc:name="set new etag"/>
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getETag('obs_client')]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
                <set-property propertyName="content_format" value="#[message.inboundProperties.'coap.opt.content_format']" doc:name="save content_format"/>
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']" doc:name="save observe nr"/>
                <set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs_client')]" doc:name="set MULE_CORRELATION_ID"/>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="obs handler received third notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-reply-01" connector-ref="VM" doc:name="VM"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0200' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0201' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0201' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0602' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0202' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0603' )]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
                <set-property propertyName="content_format" value="#[message.inboundProperties.'coap.opt.content_format']" doc:name="save content_format"/>
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']"  doc:name="save observe nr"/>
                <set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs_client')]" doc:name="set MULE_CORRELATION_ID"/>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="obs handler received notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-reply-02" connector-ref="VM" doc:name="VM"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0600' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0601' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0601' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0602' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0602' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0603' )]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
                <set-property propertyName="content_format" value="#[message.inboundProperties.'coap.opt.content_format']"  doc:name="save content_format"/>
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']"  doc:name="save observe nr"/>
                <set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs_client')]" doc:name="set MULE_CORRELATION_ID"/>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="obs handler received notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-reply-06" connector-ref="VM" doc:name="VM"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0700' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0701' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0701' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0702' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <coap-client:delete config-ref="ETSI-Plugtest_Client_block32" host="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getHost('obs_client')]" port="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getPort('obs_client')]" path="/obs" doc:name="Delete /obs"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0702' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0703' )]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
                <set-property propertyName="content_format" value="#[message.inboundProperties.'coap.opt.content_format']" doc:name="save content_format"/>
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']" doc:name="save observe nr"/>
                <set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs_client')]" doc:name="set MULE_CORRELATION_ID"/>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="obs handler received third notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-reply-07" connector-ref="VM" doc:name="VM"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0800' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0801' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0801' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0802' )]" doc:name="set new etag"/>
                <logger message="obs handler received second notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <set-payload value="&lt;test&gt;" doc:name="Set Payload"/>
                <set-property propertyName="coap.opt.content_format" value="41" doc:name="set coap.opt.content_format"/>
                <coap-client:put config-ref="ETSI-Plugtest_Client_block32" host="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getHost('obs_client')]" port="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getPort('obs_client')]"  path="/obs"  doc:name="Put /obs"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0802' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0803' )]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
                <set-property propertyName="content_format" value="#[message.inboundProperties.'coap.opt.content_format']" doc:name="save content_format"/>
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']" doc:name="save observe nr"/>
                <set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs_client')]" doc:name="set MULE_CORRELATION_ID"/>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="obs handler received third notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-reply-08" connector-ref="VM" doc:name="VM"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0900' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0901' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0901' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0902' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <set-payload value="&lt;test&gt;" doc:name="Set Payload"/>
                <set-property propertyName="coap.opt.content_format" value="0" doc:name="set coap.opt.content_format"/>
                <coap-client:put config-ref="ETSI-Plugtest_Client_block32" host="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getHost('obs_client')]" port="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getPort('obs_client')]"  path="/obs" confirmable="false" doc:name="Put /obs"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '0902' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '0903' )]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
                <set-property propertyName="content_format" value="#[message.inboundProperties.'coap.opt.content_format']" doc:name="save content_format"/>
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']" doc:name="save observe nr"/>
                <set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs_client')]" doc:name="set MULE_CORRELATION_ID"/>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="obs handler received notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-reply-09" connector-ref="VM" doc:name="VM"/>
            </when>            
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '1000' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '1001' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '1001' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '1002' )]" doc:name="set new etag"/>
                <logger message="obs handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
                <coap-client:get config-ref="ETSI-Plugtest_Client_block32" host="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getHost('obs_client')]" port="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getPort('obs_client')]"  path="/obs" confirmable="false" doc:name="get /obs"/>
        		<validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be Content" expression="#[message.inboundProperties.'coap.response.code' == '2.05']" doc:name="Validation coap.response.code"/>
                <validation:is-empty config-ref="Validation_Configuration" message="Observe option should be empty" value="#[message.inboundProperties.'coap.opt.observe']" doc:name="Validation coap.opt.observe"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '1002' )) == true ]">
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs_client', '1003' )]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
                <set-property propertyName="content_format" value="#[message.inboundProperties.'coap.opt.content_format']" doc:name="save content_format"/>
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']" doc:name="save observe nr"/>
                <set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs_client')]" doc:name="set MULE_CORRELATION_ID"/>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="obs handler received notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-reply-10" connector-ref="VM" doc:name="VM"/>
            </when>
            <otherwise>
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getETag('obs_client')]" doc:name="set new etag"/>
                <logger message="obs handler received extra notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="coap-client-etsi-plugtest-obs-non-request">
        <vm:inbound-endpoint exchange-pattern="one-way" path="obs-non-request" doc:name="VM"/>
    	<set-variable variableName="MULE_REPLYTO_STOP" value="true" doc:name="MULE_REPLYTO_STOP"/>
        <logger message="obs-request received" level="INFO" doc:name="Logger"/>
        <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs-non_client', '00' )]" doc:name="set new etag"/>
       	<set-variable variableName="actual_payload" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setCorrelationId('obs-non_client', message.correlationId )]" doc:name="save correlation id"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="coap-client-etsi-plugtest-obs-non-reply">
        <coap-client:handle-response config-ref="ETSI-Plugtest_Client" handlerName="obs-non-handler" doc:name="CoAP OBS handler"/>
        <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getETag('obs-non_client')]" doc:name="get etag"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response content_format should be 0" expression="#[message.inboundProperties.'coap.opt.content_format' == '0' ]" doc:name="Validation content format"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '00' )) == true ]">
                <logger message="osb-non handler received first notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs-non_client', '01' )]" doc:name="set new etag"/>
            </when>
            <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '01' )) == true ]">
                <logger message="osb-non handler received second notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs-non_client', '02' )]" doc:name="set new etag"/>
            </when>           
             <when expression="#[flowVars.actual_etag.equals( nl.teslanet.mule.transport.coap.commons.options.ETag.createFromHex( '02' )) == true ]">
                <logger message="obs-non handler received third notification" level="INFO" doc:name="Logger"/>
                <set-variable variableName="actual_etag" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.setETag('obs-non_client', '03' )]" doc:name="set new etag"/>
                <set-property propertyName="response_code" value="#[message.inboundProperties.'coap.response.code' ]" doc:name="save response code"/>
		        <set-property propertyName="content_format" doc:name="save content_format" value="#[message.inboundProperties.'coap.opt.content_format']" />
                <set-property propertyName="observe" value="#[message.inboundProperties.'coap.opt.observe']" doc:name="save observe nr"/>
		       	<set-property propertyName="MULE_CORRELATION_ID" value="#[nl.teslanet.mule.transport.coap.test.ETagMemoryStore.getCorrelationId('obs-non_client')]" doc:name="set MULE_CORRELATION_ID"/>
		        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
		        <logger message="osb-non handler received notification" level="INFO" doc:name="Logger"/>
		        <logger level="INFO" doc:name="Logger"/>
		        <vm:outbound-endpoint exchange-pattern="one-way" path="obs-non-reply" connector-ref="VM" doc:name="VM"/>
            </when>
            <otherwise>
                <logger message="obs-non handler received extra notification" level="INFO" doc:name="Logger"/>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
	
    <sub-flow name="coap-client-etsi-plugtest-observe-all">

        <flow-ref name="coap-client-etsi-plugtest-TD_COAP_OBS_01_03" doc:name="TD_COAP_OBS_01_03"/>
        <set-variable variableName="results" value="#[ flowVars.results + '\nTD_COAP_OBS_01: ' + payload ]" doc:name="Variable"/>
        
        <flow-ref name="coap-client-etsi-plugtest-TD_COAP_OBS_02" doc:name="TD_COAP_OBS_02"/>
        <set-variable variableName="results" value="#[ flowVars.results + '\nTD_COAP_OBS_02: ' + payload ]" doc:name="Variable"/>
        
        <flow-ref name="coap-client-etsi-plugtest-TD_COAP_OBS_06" doc:name="TD_COAP_OBS_06"/>
        <set-variable variableName="results" value="#[ flowVars.results + '\nTD_COAP_OBS_06: ' + payload ]" doc:name="Variable"/>
        
        <flow-ref name="coap-client-etsi-plugtest-TD_COAP_OBS_07" doc:name="TD_COAP_OBS_07"/>
        <set-variable variableName="results" value="#[ flowVars.results + '\nTD_COAP_OBS_07: ' + payload ]" doc:name="Variable"/>
        
        <flow-ref name="coap-client-etsi-plugtest-TD_COAP_OBS_08" doc:name="TD_COAP_OBS_08"/>
        <set-variable variableName="results" value="#[ flowVars.results + '\nTD_COAP_OBS_08: ' + payload ]" doc:name="Variable"/>
        
        <flow-ref name="coap-client-etsi-plugtest-TD_COAP_OBS_09" doc:name="TD_COAP_OBS_09"/>
        <set-variable variableName="results" value="#[ flowVars.results + '\nTD_COAP_OBS_09: ' + payload ]" doc:name="Variable"/>
        
        <flow-ref name="coap-client-etsi-plugtest-TD_COAP_OBS_10" doc:name="TD_COAP_OBS_10"/>
        <set-variable variableName="results" value="#[ flowVars.results + '\nTD_COAP_OBS_10: ' + payload ]" doc:name="Variable"/>
        
        <set-payload value="#[flowVars.results]" doc:name="Set Payload"/>
    </sub-flow >
    
	<flow name="coap-client-etsi-plugtest-TD_COAP_OBS_01_03">
		
		<logger level="INFO" doc:name="Logger"/>
        <coap-client:start-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" responseHandler="obs-handler" doc:name="CoAP Start Observe"/>
		<set-payload value="01" doc:name="Set Payload"/>
        <enricher doc:name="Message Enricher">
            <request-reply storePrefix="OBS_01" timeout="30000" doc:name="Request-Reply">
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-request" connector-ref="VM" doc:name="obs-request"/>
                <vm:inbound-endpoint exchange-pattern="one-way" path="obs-reply-01" connector-ref="VM" doc:name="obs-reply-01"/>
            </request-reply>
            <enrich source="#[message.inboundProperties.response_code]" target="#[flowVars.response_code]"/>
            <enrich source="#[message.inboundProperties.content_format]" target="#[flowVars.content_format]"/>
            <enrich source="#[message.inboundProperties.observe]" target="#[flowVars.observe]"/>
            <enrich source="#[payload]" target="#[payload]"/>
        </enricher>
        <coap-client:stop-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" doc:name="CoAP Stop Observe"/>
		<logger level="INFO" doc:name="Logger"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be CONTENT" expression="#[flowVars.response_code == '2.05']" doc:name="Validation coap.response.code"/>
        <validation:validate-size config-ref="Validation_Configuration" message="CoAP response payload should not be empty" value="#[payload]" min="1" doc:name="Validation payload not empty"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response content_format should be text/plain" expression="#[flowVars.content_format == '0' ]" doc:name="Validation content format"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response observe should be > 0" expression="#[ java.lang.Integer.parseInt( flowVars.observe ) &gt; 0 ]" doc:name="Validation content format"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<set-payload value="Test OK" doc:name="Set Payload"/>
	</flow>
	

	<flow name="coap-client-etsi-plugtest-TD_COAP_OBS_02">
		
		<logger level="INFO" doc:name="Logger"/>
        <coap-client:start-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs-non" responseHandler="obs-non-handler" doc:name="CoAP Start Observe"/>
		<set-payload value="02" doc:name="Set Payload"/>
        <enricher doc:name="Message Enricher">
	        <request-reply storePrefix="OBS_02" timeout="30000" doc:name="Request-Reply">
	            <vm:outbound-endpoint exchange-pattern="one-way" path="obs-non-request" connector-ref="VM" doc:name="obs-non-request"/>
	            <vm:inbound-endpoint exchange-pattern="one-way" path="obs-non-reply" connector-ref="VM" doc:name="obs-non-reply"/>
	        </request-reply>
            <enrich source="#[message.inboundProperties.response_code]" target="#[flowVars.response_code]"/>
            <enrich source="#[message.inboundProperties.content_format]" target="#[flowVars.content_format]"/>
            <enrich source="#[message.inboundProperties.observe]" target="#[flowVars.observe]"/>
            <enrich source="#[payload]" target="#[payload]"/>
        </enricher>
        <coap-client:stop-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs-non" doc:name="CoAP Stop Observe"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<logger level="INFO" doc:name="Logger"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be CONTENT" expression="#[flowVars.response_code == '2.05']" doc:name="Validation coap.response.code"/>
        <validation:validate-size config-ref="Validation_Configuration" message="CoAP response payload should not be empty" value="#[payload]" min="1" doc:name="Validation payload not empty"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response content_format should be 0" expression="#[flowVars.content_format == '0' ]" doc:name="Validation content format"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response observe should be > 0" expression="#[ java.lang.Integer.parseInt( flowVars.observe ) &gt; 0 ]" doc:name="Validation content format"/>
		<set-payload value="Test OK" doc:name="Set Payload"/>
	</flow>
	
	
	<flow name="coap-client-etsi-plugtest-TD_COAP_OBS_06">
		
		<logger level="INFO" doc:name="Logger"/>
        <coap-client:start-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" responseHandler="obs-handler" doc:name="CoAP Start Observe"/>
        <set-payload value="06" doc:name="Set Payload"/>
        <enricher doc:name="Message Enricher">
        <request-reply storePrefix="OBS_06" timeout="30000" doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="obs-request" connector-ref="VM" doc:name="obs-request"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="obs-reply-06" connector-ref="VM" doc:name="obs-reply-06"/>
        </request-reply>
            <enrich source="#[message.inboundProperties.response_code]" target="#[flowVars.response_code]"/>
            <enrich source="#[message.inboundProperties.content_format]" target="#[flowVars.content_format]"/>
            <enrich source="#[message.inboundProperties.observe]" target="#[flowVars.observe]"/>
            <enrich source="#[payload]" target="#[payload]"/>
        </enricher>
        <coap-client:stop-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" doc:name="CoAP Stop Observe"/>
		<logger level="INFO" doc:name="Logger"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be CONTENT" expression="#[flowVars.response_code == '2.05']" doc:name="Validation coap.response.code"/>
        <validation:validate-size config-ref="Validation_Configuration" message="CoAP response payload should not be empty" value="#[payload]" min="1" doc:name="Validation payload not empty"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response content_format should be 0" expression="#[flowVars.content_format == '0' ]" doc:name="Validation content format"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response observe should be > 0" expression="#[ java.lang.Integer.parseInt( flowVars.observe ) &gt; 0 ]" doc:name="Validation content format"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<set-payload value="Test OK" doc:name="Set Payload"/>
	</flow>

	
	<flow name="coap-client-etsi-plugtest-TD_COAP_OBS_07">
		
		<logger level="INFO" doc:name="Logger"/>
        <coap-client:start-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" responseHandler="obs-handler" doc:name="CoAP Start Observe"/>
        <set-payload value="07" doc:name="Set Payload"/>
        <enricher doc:name="Message Enricher">
	        <request-reply storePrefix="OBS_07" timeout="30000" doc:name="Request-Reply">
	            <vm:outbound-endpoint exchange-pattern="one-way" path="obs-request" connector-ref="VM" doc:name="obs-request"/>
	            <vm:inbound-endpoint exchange-pattern="one-way" path="obs-reply-07" connector-ref="VM" doc:name="obs-reply-07"/>
	        </request-reply>
            <enrich source="#[message.inboundProperties.response_code]" target="#[flowVars.response_code]"/>
            <enrich source="#[payload]" target="#[payload]"/>
        </enricher>
        <coap-client:stop-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" doc:name="stop to be sure"/>
		<logger level="INFO" doc:name="Logger"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be NOT_FOUND" expression="#[flowVars.response_code == '4.04']" doc:name="Validation coap.response.code"/>
	    <set-payload value="Test OK" doc:name="Set Payload"/>
	</flow>
	
	<flow name="coap-client-etsi-plugtest-TD_COAP_OBS_08">
		
		<logger level="INFO" doc:name="Logger"/>
        <coap-client:start-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" responseHandler="obs-handler" doc:name="CoAP Start Observe"/>
        <set-payload value="08" doc:name="Set Payload"/>
        <enricher doc:name="Message Enricher">
	        <request-reply storePrefix="OBS_08" timeout="30000" doc:name="Request-Reply">
	            <vm:outbound-endpoint exchange-pattern="one-way" path="obs-request" connector-ref="VM" doc:name="obs-request"/>
	            <vm:inbound-endpoint exchange-pattern="one-way" path="obs-reply-08" connector-ref="VM" doc:name="obs-reply-08"/>
	        </request-reply>
            <enrich source="#[message.inboundProperties.response_code]" target="#[flowVars.response_code]"/>
            <enrich source="#[payload]" target="#[payload]"/>
        </enricher>
        <coap-client:stop-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" doc:name="stop to be sure"/>
		<logger level="INFO" doc:name="Logger"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be Not Acceptable" expression="#[flowVars.response_code == '4.06']" doc:name="Validation coap.response.code, test defines 5.00 but rfc7641 states it should be 4.06"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<set-payload value="Test OK" doc:name="Set Payload"/>
	</flow>
    <flow name="coap-client-etsi-plugtest-TD_COAP_OBS_09">
        <logger level="INFO" doc:name="Logger"/>
        <set-payload value="test" encoding="UTF-8" mimeType="text/plain" doc:name="Set Payload"/>
        <coap-client:put config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" doc:name="bring resource into defined state"/>
        <coap-client:start-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" responseHandler="obs-handler" doc:name="CoAP Start Observe"/>
        <set-payload value="09" doc:name="Set Payload"/>
        <enricher doc:name="Message Enricher">
            <request-reply storePrefix="OBS_09" timeout="30000" doc:name="Request-Reply">
                <vm:outbound-endpoint exchange-pattern="one-way" path="obs-request" connector-ref="VM" doc:name="obs-request"/>
                <vm:inbound-endpoint exchange-pattern="one-way" path="obs-reply-09" connector-ref="VM" doc:name="obs-reply-09"/>
            </request-reply>
            <enrich source="#[message.inboundProperties.response_code]" target="#[flowVars.response_code]"/>
            <enrich source="#[payload]" target="#[payload]"/>
        </enricher>
        <coap-client:stop-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" doc:name="CoAP Stop Observe"/>
        <logger level="INFO" doc:name="Logger"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be Content" expression="#[flowVars.response_code == '2.05']" doc:name="Validation coap.response.code"/>
        <set-payload value="Test OK" doc:name="Set Payload"/>
    </flow>
	
	<flow name="coap-client-etsi-plugtest-TD_COAP_OBS_10">
		
		<logger level="INFO" doc:name="Logger"/>
        <coap-client:start-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" responseHandler="obs-handler" doc:name="CoAP Start Observe"/>
        <set-payload value="10" doc:name="Set Payload"/>
        <enricher doc:name="Message Enricher">
	        <request-reply storePrefix="OBS_10" timeout="30000" doc:name="Request-Reply">
	            <vm:outbound-endpoint exchange-pattern="one-way" path="obs-request" connector-ref="VM" doc:name="obs-request"/>
	            <vm:inbound-endpoint exchange-pattern="one-way" path="obs-reply-10" connector-ref="VM" doc:name="obs-reply-10"/>
	        </request-reply>
            <enrich source="#[message.inboundProperties.response_code]" target="#[flowVars.response_code]"/>
            <enrich source="#[payload]" target="#[payload]"/>
        </enricher>
 	    <coap-client:stop-observe config-ref="ETSI-Plugtest_Client" host="#[sessionVars.host]" port="#[sessionVars.port]" path="/obs" doc:name="CoAP Stop Observe"/>
		<logger level="INFO" doc:name="Logger"/>
        <validation:is-true config-ref="Validation_Configuration" message="CoAP response code should be Content" expression="#[flowVars.response_code == '2.05']" doc:name="Validation coap.response.code"/>
	    <set-payload value="Test OK" doc:name="Set Payload"/>
	</flow>
</mule>
